* {
    padding: 0;
    margin: 0;
}

body{
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows:auto;
    grid-template-areas:
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

nav {
    background-color: rgb(222, 51, 51);
    padding: 10px;
    grid-area: nav;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav li a:hover{
    color: white;
}

a {color:rgb(26, 26, 166);
    font-size: 20px;
    text-decoration: none;
    display:inline-table;
    padding: 10px;
    text-decoration: underline;
    
}

li{ font-size: 1.5em ;
    font-family: helvetica ;

}

main{
    background-color: white;
    color:black;
    grid-area:main;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

footer{
    background-color:rgb(222, 51, 51);
    color:white;
    grid-area:footer;
}

.project {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 1.5em;
    width: 400px;
}

input[type="submit"]{
    grid-column: 1 / span 2;
    justify-self: center;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
}

.report{
    padding: 20px;
    max-width: 650px;
    

}
